<div class="grid grid-cols-1 gap-4">
  <h1 class="text-3xl font-bold text-red-600">Create partner</h1>
</div>
<%= form_with(model: @partner, url: partners_path, local: true, class: "bg-gray-100 p-6 rounded-lg shadow-md mt-4 max-w-lg mx-auto") do |form| %>
  <% if @partner.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4">
      <strong class="font-bold"><%= pluralize(@partner.errors.count, "error") %> prevented this event from being saved:</strong>
      <ul class="mt-2">
        <% @partner.errors.full_messages.each do |message| %>
          <li class="text-sm"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 gap-4" data-controller="nested-form">
    <div>
      <%= form.label :full_name, 'Nome completo', class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :full_name, class: "form-input w-full mt-1 p-2 border rounded-md text-gray-700" %>
    </div>

    <div>
      <%= form.label :cpf, 'CPF', class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :cpf, class: "form-input w-full mt-1 p-2 border rounded-md text-gray-700" %>
    </div>

    <div>
      <%= form.label :registry_certificate, 'CR', class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :registry_certificate, class: "form-input w-full mt-1 p-2 border rounded-md text-gray-700" %>
    </div>

    <div>
      <%= form.label :registry_certificate_expiration_date, 'Data de expiração CR', class: "block text-sm font-medium text-gray-700" %>
      <%= form.date_field :registry_certificate_expiration_date, class: "form-input w-full mt-1 p-2 border rounded-md" %>
    </div>
		<div>
      <%= form.label :address, 'Endereço', class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :address, class: "form-input w-full mt-1 p-2 border rounded-md text-gray-700" %>
    </div>
		<div>
      <%= form.label :filiation_number, 'Número de filiação', class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :filiation_number, class: "form-input w-full mt-1 p-2 border rounded-md text-gray-700" %>
    </div>
		<div>
			<%= form.label :first_filiation_date, 'Data da primeira filiação', class: "block text-sm font-medium text-gray-700" %>
      <%= form.date_field :first_filiation_date, class: "form-input w-full mt-1 p-2 border rounded-md" %>
		</div>
  </div>

  <div class="mt-6 flex justify-between">
    <%= form.submit "Registrar a Habitualidade", class: "bg-red-600 text-white px-4 py-2 rounded-md shadow-md hover:bg-red-700 transition" %>
    <%= link_to 'Voltar', partners_path, class: "text-gray-700 hover:underline" %>
  </div>
<% end %>
