<%= turbo_frame_tag "last_records" do %>
  <%= link_to "Last Records ONE", last_records_one_events_path, class: "block text-center" %>
  <%= link_to "Last Records TWO", last_records_two_events_path, class: "block text-center" %>
  <%= link_to "Last Records THREE", last_records_three_events_path, class: "block text-center" %>

  <%= form_with url: last_records_three_events_path, method: :get do %>
    <%= label_tag :search, "Search:" %>
    <%= text_field_tag :query %>
    <%= submit_tag "Search" %>
  <% end %>

  <p>Listing all the last records THREE</p>
  <p>Listing all the last records THREE</p>
  <p>Listing all the last records THREE</p>
  <p>Listing all the last records THREE</p>
  <p>Listing all the last records THREE</p>
  <p>Listing all the last records THREE</p>
  <p>Listing all the last records THREE</p>
  <p>Listing all the last records THREE</p>
  <p>Listing all the last records THREE</p>
  <p>Listing all the last records THREE</p>
<% end %>
