<div class="flex justify-center items-center min-h-screen">
  <div class="w-full max-w-2xl">
    <div class="text-center mb-6">
      <h1 class="text-3xl font-bold text-red-600">Registrar Arma</h1>
    </div>

    <%= form_with(model: @weapon, url: weapons_path, local: true, data: { controller: 'credentials', action:"ajax:success->credentials#create ajax:error->credentials#error"}, class: "bg-gray-100 p-6 rounded-lg shadow-md max-w-lg mx-auto") do |form| %>
      <% if @weapon.errors.any? %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4">
          <strong class="font-bold"><%= pluralize(@weapon.errors.count, "error") %> prevented this event from being saved:</strong>
          <ul class="mt-2">
            <% @partner.errors.full_messages.each do |message| %>
              <li class="text-sm"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <div class="grid grid-cols-1 gap-4" data-controller="nested-form">
          <div>
            <%= form.label :partner_id, class: "block text-sm font-medium text-gray-700" %>
            <%= form.collection_select :partner_id, @partners, :id, :friendly_name, {}, { prompt: "Selecione o CR do atirador", class: "form-select w-full mt-1 p-2 border rounded-md select2" } %>
        </div>
  
        <%= link_to 'Caso não encontrou usuário clique aqui para criar um novo', new_partners_path(older_practice: true), class: 'text-blue-600 hover:text-blue-800 font-medium underline' %>
        <div>
          <%= form.label :caliber, 'Calibre', class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :caliber, class: "form-input w-full mt-1 p-2 border rounded-md text-gray-700" %>
        </div>

        <div>
          <%= form.label :category, 'Categoria', class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :category, class: "form-input w-full mt-1 p-2 border rounded-md text-gray-700" %>
        </div>

        <div>
          <%= form.label :sigma, 'Sigma', class: "block text-sm font-medium text-gray-700" %>
          <%= form.number_field :sigma, class: "form-input w-full mt-1 p-2 border rounded-md text-gray-700" %>
        </div>

      <div class="mt-6 flex justify-between">
        <%= form.submit "Registrar Arma", class: "bg-red-600 text-white px-4 py-2 rounded-md shadow-md hover:bg-red-700 transition" %>
        <%= link_to 'Voltar', root_path, class: "text-red-600 hover:bg-red-100 px-6 py-3 border border-red-600 rounded-md text-center ml-4 transition-all" %>
      </div>
    <% end %>
  </div>
</div>
